.evenement-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.evenement-container h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.event-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.event-item:last-child {
    border-bottom: none;
}

.event-item h3 {
    margin: 0;
    font-size: 1.3em;
    color: #444;
}

.event-item p {
    margin: 5px 0;
    color: #666;
}

.event-item span {
    font-size: 0.9em;
    color: #888;
}
